/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* clear fix */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
.cf {
  *zoom: 1;
}

body {
  background-color: #eaeaea;
  font: 16px/18px arial, sans-serif;
}

.container {
  background-color: white;
  width: 800px;
  margin: auto;
}

.header {
  padding: 20px;
}

.header .judul {
  font-weight: bold;
  font-size: 40px;
}

.header ul li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 30px;
}

.header ul li a {
  text-decoration: none;
  color: salmon;
  padding: 5px;
}

.header li a:hover {
  background-color: lightskyblue;
}

.header ul li a:active {
  color: white;
}

.hero {
  height: 320px;
  background-image: url(./img/hero.png);
  background-size: cover;
  background-position: 0 -170px;
  border-top: solid salmon;
  border-bottom: solid lightskyblue;
}

.main {
  padding: 20px;
}

.main h2 {
  font-weight: bold;
  font-size: 20px;
}

.main .penulis {
  font-size: 10px;
  margin-top: -5px;
}

.main .penulis a {
  color: salmon;
  text-decoration: none;
}

.main .penulis a:hover {
  background-color: lightskyblue;
}

.main .penulis a:active {
  color: white;
}

.main p {
  margin-top: 20px;
}
